* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	background-color: #f5f5dc;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}



.header {
	margin-bottom: 75px;
	text-align: center;
	margin-top: 30px;
}

.header--deaner {
	border-radius: 25%;
	width: 35%;
	height: auto;
	box-shadow: 0 3px 4px #000;
}

